{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title></title>#}
{#</head>#}
{#<body>#}
{# Hello~~~~~~~~~#}
{#</body>#}
{#</html>#}
{##}
{##}
{##}
{#    {{#}
{#      googlemap(#}
{#          "sign_map",#}
{#          center_lat,#}
{#          center_lng,#}
{#          zoom=18,#}
{#          infobox=contents,#}
{#          markers={'http://maps.google.com/mapfiles/ms/icons/red-dot.png':[(center_lat, center_lng)],#}
{#                    'http://maps.google.com/mapfiles/ms/icons/green-dot.png':locations},#}
{#          style=style#}
{#      )#}
{#    }}#}
